<!-- sponsorship -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].sponsorship.section | default: "sponsorship" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].sponsorship.title | default: "sponsorship Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].sponsorship.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].sponsorship.body}}</div>
        <iframe src={{site.data.sitetext[site.locale].sponsorship.packageLink}} width="640" height="700" allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.sponsorship.section | default: "sponsorship" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.sponsorship.title | default: "sponsorship Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.sponsorship.text | default: ""}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.sponsorship.body}}</div>
        <iframe src={{site.data.sitetext[site.locale].sponsorship.packageLink}} width="640" allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End sponsorship -->