// Styling for the team section
.supercharger-sponsor {
  margin-bottom: 50px;
  text-align: center;
  img {
    max-width: 750px;
    width: 100%;
    //border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
// Styling for the team section
.lightning-sponsor {
  margin-bottom: 50px;
  text-align: center;
  img {
    max-width: 400px;
    max-height: 400px;
    width:100%;
    //border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
.energizer-sponsor {
  margin-bottom: 50px;
  text-align: center;
  img {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    //border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
.amped-sponsor {
  margin-bottom: 50px;
  text-align: center;
  img {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    //border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
.booster-sponsor {
  margin-bottom: 50px;
  text-align: center;
  img {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    //border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    //border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

@media all and (max-width: 500px) {
  // supercharger breaks flow
  .page-section h2.section-heading {
    font-size: 40px;
  }

  .energizer-sponsor h4 {
    font-size: 18px;
  }
}

.container {
  // this was breaking the page at smaller sizes for some reason
  .col-2, .col-3, .col-4 {
    max-width: unset !important;
  }
}